[submodule "webui/lessui"]
	path = webui/lessui
	url = git@github.com:lessos/lessui.git
[submodule "vendor/github.com/hooto/hchart"]
	path = vendor/github.com/hooto/hchart
	url = git@github.com:hooto/hchart.git
