[submodule "vendor/github.com/eryx/hcaptcha"]
	path = vendor/github.com/eryx/hcaptcha
	url = git@github.com:eryx/hcaptcha.git
[submodule "webui/lessui"]
	path = webui/lessui
	url = git@github.com:lessos/lessui.git
[submodule "vendor/code.hooto.com/hooto/chart"]
	path = vendor/code.hooto.com/hooto/chart
	url = git@code.hooto.com:hooto/chart.git
