[submodule "vendor/github.com/eryx/hcaptcha"]
	path = vendor/github.com/eryx/hcaptcha
	url = git@github.com:eryx/hcaptcha.git
[submodule "webui/lessui"]
	path = webui/lessui
	url = git@github.com:lessos/lessui.git
