body .container {
  max-width: 1400px !important;
}

a {
  font-weight: 800;
  color: #343a40;
}
a:hover {
  color: #111111;;
}


#hp-topbar {
  min-height: 70px !important;
  __background-color: #FFC300 !important;
  __color: rgba(0, 0, 0, 0.7) !important;
}


#hp-topbar .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}


.pt_frame_box {
    _margin: 20px 0 20px 0;
    _padding 0 5px !important;
}

.pt_node_content {
    font-size: 14pt !important;
    line-height: 180% !important;
}

.pt-body-section-blue {
  /* background-color: #1890ff; */
  background-color: #096dd9;
  color: #fff;
  padding: 20px 5px !important;
}

.pt-body-section-dark {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 20px 10px !important;
}

.pt-body-section-yellow {
  background-color: #ffc107;
  color: #212529;
  padding: 20px 10px !important;
}

.pt-bg-hexagons-light-x1 {
  background-image: url("/hp/-/static/pt/img/grid-hexagons-light-x1.png");
}
.pt-bg-hexagons-light-x2 {
  background-image: url("/hp/-/static/pt/img/grid-hexagons-light-x2.png");
}
.pt-bg-hexagons-light-x3 {
  background-image: url("/hp/-/static/pt/img/grid-hexagons-light-x3.png");
}

.pt-bg-hexagons-dark-x1 {
  background-image: url("/hp/-/static/pt/img/grid-hexagons-dark-x1.png");
}
.pt-bg-hexagons-dark-x2 {
  background-image: url("/hp/-/static/pt/img/grid-hexagons-dark-x2.png");
}
.pt-bg-hexagons-dark-x3 {
  background-image: url("/hp/-/static/pt/img/grid-hexagons-dark-x3.png");
}


.bi {
  display: inline-block;
  vertical-align: text-bottom;
}

.pt_icon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.pt_icon_light {
  fill: #f759ab !important;
}
.pt_icon_dark {
  fill: #222 !important;
}
