body .container {
  max-width: 1400px !important;
}


.hp-gdoc-frame-box {
  margin: 20px 0 20px 0;
}

.hp-gdoc-node-content {
  font-size: 12pt !important;
  line-height: 150% !important;
}

.hp-gdoc-index-frame-blue {
  background-color: #096dd9;
  color: #fff;
  padding: 20px 5px;
}

.hp-gdoc-index-frame-blue a {
  color: #fff;
}

.hp-gdoc-index-frame-blue .font-dark a {
  color: #aaa;
}

.hp-gdoc-index-frame-dark {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  margin: 0 !important;
  padding: 0 !important;
}

.hp-gdoc-index-frame-dark a {
  color: #fff;
}

.hp-gdoc-index-frame-title {
  font-size: 200%;
  line-height: 150%;
}

.hp-gdoc-bgimg-hexagons {
  background-image: url("/hp/-/static/gdoc/img/grid-hexagons.png");
}

.hp-gdoc-icon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.hp-gdoc-icon-light {
  fill: #f759ab !important;
}

.hp-gdoc-index-frame-dark-light {
  background-color: #f5f5f5;
}

.hp-gdoc-cell-box {
  padding: 10px;
}

.hp-gdoc-entry-summary {
  font-size: 90%;
  line-height: 120%;
  padding: 10px;
}

.hp-gdoc-entry-summary h1,
.hp-gdoc-entry-summary h2,
.hp-gdoc-entry-summary h3,
.hp-gdoc-entry-summary h4,
.hp-gdoc-entry-summary h5,
.hp-gdoc-entry-summary h6 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 120%;
  border-bottom: 1px solid #ddd;
  color: #555;
}

.hp-gdoc-entry-summary h2 {
  font-size: 160%;
}

.hp-gdoc-entry-summary h3 {
  font-size: 145%;
}

.hp-gdoc-entry-summary h4 {
  font-size: 130%;
}

.hp-gdoc-entry-summary p {
  margin: 0 !important;
  padding: 0 !important;
}

.hp-gdoc-entry-summary ul {
  margin: 0 0 20px 0;
  padding: 0;
}

.hp-gdoc-entry-summary ul li {
  list-style-type: none;
  padding: 2px 2px 5px 2px;
  line-height: 120%;
}

.hp-gdoc-entry-summary li ul {
  padding: 0 0 10px 10px;
}

.hp-gdoc-entry-summary hr {
  height: 0;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}

.hp-gdoc-page-content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #999;
  min-height: 600px;
  padding: 20px;
  line-height: 180%;
}

.hp-gdoc-entry-toc {
  padding: 10px;
  font-size: 90%;
}

.hp-gdoc-page-toc-menu nav {
  margin: 0 0 0 10px;
  ;
  padding: 0;
  font-size: 0.9rem;
}

.hp-gdoc-page-toc-menu h1 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 120%;
  border-bottom: 1px solid #ddd;
  color: #555;
  line-height: 2.0em;
}

.hp-gdoc-page-toc-menu a {
  color: #6c757d;
  text-decoration: none;
  /**
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: auto;
  */
}

.hp-gdoc-page-toc-menu a:hover {
  text-decoration: underline;
}

.hp-gdoc-page-toc-menu ul {
  margin: 0 0 5px 0;
  padding: 0;
}

.hp-gdoc-page-toc-menu ul li {
  list-style-type: none;
  padding: 5px 2px 5px 2px;
  line-height: 160%;
}

.hp-gdoc-page-toc-menu li ul {
  padding: 0 0 10px 10px;
}

.hp-gdoc-nodels-item .card {
  padding: 10px;
}

.hp-gdoc-nodels-item .card .card-content {
  padding: 10px;
}

.hp-gdoc-nodels-item .card .title>a {
  color: #000;
}

.hp-gdoc-nodels-item .card .media-left .image img {
  width: 48px;
  height: 48px;
}

.hp-gdoc-nav-ol {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 160%;
  line-height: 160%;
}

.hp-gdoc-nav-ol li {
  display: inline-block;
}

.hp-gdoc-nav-ol li.active {
  font-weight: bold;
}

.hp-gdoc-nav-ol>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.hp-is-desktop {
  display: block;
  line-height: 160%;
}

.hp-is-desktop.is-active {
  display: block;
  position: relative;
  height: auto;
}

@media screen and (max-width: 768px) {
  .hp-is-desktop {
    display: none;
  }

  .hp-gdoc-entry-summary {
    position: relative;
    height: auto;
  }

  .hp-gdoc-entry-toc {
    position: relative;
    height: auto;
  }
}

.hp-is-mobile {
  display: block;
}

@media screen and (min-width: 768px) {
  .hp-is-mobile {
    display: none !important;
  }

  .hp-gdoc-entry-summary {
    position: sticky;
    top: 0;
    height: calc(100vh - 20px);
  }

  .hp-gdoc-entry-toc {
    position: sticky;
    top: 0;
    height: calc(100vh - 20px);
  }
}