.hp-comment-embed > header {
  margin: 5px 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  display: block;
}

.hp-comment-embed > header > .nav-primary {
  padding: 0;
  border-bottom: 2px solid;
  border-bottom-color: rgba(0,0,0,.2);
  position: relative;
  line-height: 0;
  display: block;
}

.hp-comment-embed > header > .nav-primary > ul {
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.hp-comment-embed > header > .nav-primary > ul > li {
  display: inline-block;
  line-height: 0;
  position: relative;
}

.hp-comment-embed > header > .nav-primary > ul > li > span {
  line-height: 1;
  margin: 0 15px;
  padding: 12px 0;
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: bold;
}

.hp-comment-embed > header > .nav-primary > ul > li > span:after {
  content: " ";
  display: block;
  background-color: #777;
  height: 2px;
  bottom: -2px;
  position: absolute;
  right: 0;
  left: 0;
}

.hp-comment-embed .entry {
  margin: 20px 0;
  position: relative;
  display: block;
  clear: both;
  padding: 10px;
}

.hp-comment-embed .entry:after,
.hp-comment-embed .entry:before {
  content: "";
  display: table;
  line-height: 0;
}

.hp-comment-embed .entry > .avatar {
  float: left;
  height: 48px;
  margin-right: 12px;
  background-color: #eee;
}

.hp-comment-embed .entry > .avatar > img {
  width: 48px;
  height: 48px;
}

.hp-comment-embed .entry > .body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

.hp-comment-embed .new {
  margin-bottom: 20px;
}

#hp-comment-embed-new-form {
  padding: 0 5px 5px 5px;
}

#hp-comment-embed-new-form-alert {
  margin: 5px 0;
}

#hp-comment-embed-new-form .alert {
  padding: 10px;
  border-radius: 2px;
}

#hp-comment-embed-new-form .alert-success {
  border: 1px solid #48c774;
  color: #257942;
  background-color: #effaf3;
}

#hp-comment-embed-new-form .alert-danger {
  border: 1px solid #f14668;
  color: #cc0f35;
  background-color: #feecf0;
}
